//
// Grid variables
// --------------------------------------------------


$enable-grid-classes: true !default;

/// Wrapper's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
		'gz': 320px,
		'ph': 480px,
		'tb': 768px,
		'lp': 1024px,
		'ds': 1200px,
) !default;



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
		gz: 0,
	//ph: 576px,
	//tb: 768px,
	//lp: 992px,
	//ds: 1200px
) !default;



// Grid containers
//
// Define the maximum width of `.wrapper` for different screen sizes.

$container-max-widths: (
	//ph: 540px,
	//tb: 720px,
	//lp: 960px,
		ds: 1140px

) !default;



// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-ph`
$screen-ph:                  480px !default;
//** Deprecated `$screen-ph-min` as of v3.2.0
$screen-ph-min:              $screen-ph !default;
//** Deprecated `$screen-phone`
$screen-phone:               $screen-ph-min !default;

// Small screen / tablet
//** Deprecated `$screen-tb`
$screen-tb:                  768px !default;
$screen-tb-min:              $screen-tb !default;
//** Deprecated `$screen-tablet`
$screen-tablet:              $screen-tb-min !default;

// Medium screen / desktop
//** Deprecated `$screen-lp`
$screen-lp:                  1025px !default;
$screen-lp-min:              $screen-lp !default;
//** Deprecated `$screen-desktop`
$screen-laptop:             $screen-lp-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-ds`
$screen-ds:                  1200px !default;
$screen-ds-min:              $screen-ds !default;
//** Deprecated `$screen-ds-desktop`
$screen-desktop:          $screen-ds-min !default;

// Set media queries maximum
$screen-gz-max:              $screen-ph-min !default;
$screen-ph-max:              $screen-tb-min !default;
$screen-tb-max:              $screen-lp-min !default;
$screen-lp-max:              $screen-ds-min !default;


$laptop-height:				 650px;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-tb:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-lp:                 $container-desktop !default;

// Large screen / wide desktop
$container-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-ds:                 $container-desktop !default;

// Custom media grid vars
$phone-up: 'only screen and (min-width: #{$screen-ph-min})';
$landscape: 'only screen and (min-width: 560px) and (max-height: 414px) and (orientation: landscape)';
$gz-only: 'only screen and (max-width: #{$screen-gz-max})';
$ph-down: 'only screen and (max-width: #{$screen-ph-max})';


$tb-up: 'only screen and (min-width: #{$screen-tb-min})';
$tb-only: 'only screen and (min-width: #{$screen-tb-min}) and (max-width: #{$screen-tb-max})';
$tb-down: 'only screen and (max-width: #{$screen-tb-max})';

$lp-up: 'only screen and (min-width: #{$screen-lp-min})';
$laptop: 'only screen and (min-width: #{$screen-lp-min}) and (max-height: #{$laptop-height})';
$lp-only: 'only screen and (min-width: #{$screen-lp-min}) and (max-width: #{$screen-lp-max})';
$lp-down: 'only screen and (max-width: #{$screen-lp-max})';

$ds-up: 'only screen and (min-width: #{$screen-ds-min})';
$ds-down: 'only screen and (max-width: #{$screen-ds-min})';

// Columns for woocommerce

$columns: (
		1: 100%,
		2: 50%,
		3: 33.33%,
		4: 25%,
		5: 20%,
		6: 16.66%,
		7: 14.28%,
		8: 12.5%,
		9: 11.11%
);

$columns__margin: 3.8%;
